
body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  font-weight: bold;
}


header {
  display: flex;
  align-items: center; 
  background-color: #007BFF; 
  color: white;
  padding: 20px;
}


.logo {
  width: 50px; 
  margin-right: 15px; 
}

